{% extends "base.html" %}
{% block title %}О сайте{% endblock %}
{% block content %}
<div style="margin-left: 20px">
  <h1>Привет, теперь ты в теме!</h1>
  <p>
    Добро пожаловать на наш сайт, где вы можете свободно выражать свои мысли и идеи на различные темы!
    Мы предлагаем платформу для публикации постов, где каждый пользователь может создать собственный профиль и делиться своими рассуждениями,
    знаниями, опытом или просто интересными историями.
  </p>
  <p>
    Наш функционал для выкладывания постов на определенные тематики позволяет вам выбирать сообщество с тематикой
    наиболее соответствующий вашим материалам. Это поможет окружающим найти ваш контент и принять участие в обсуждении.
  <p>
    Кроме того, наш сайт предоставляет возможность комментирования постов, что позволяет вам быть в курсе реакций и мнений других пользователей.
    Вы можете поделиться своими мыслями, задать вопросы или выразить свою поддержку автору.
  </p>
  <p>
    Приглашаем всех желающих присоединиться к нашему активному и дружелюбному сообществу, где каждый голос имеет значение.
    Вместе мы создадим место, где люди могут свободно обмениваться идеями и обсуждать интересные темы.
    Добро пожаловать в нашу вдохновляющую и интерактивную онлайн-платформу! 
  </p>
<div>
{% endblock %}
