{% extends "base.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}
<div class="row">
  <h1>Контакты администрации</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Телефон:
      </li>
      <li class="list-group-item">
        Почта:
      </li>
      <li class="list-group-item">
        Адрес:
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>+79118987332</p>
    <p>anastasiavarva@yandex.ru</p>
    <p>ул. Шестака д. 26 кв. 38</p>
  </article>
</div>
{% endblock %}
